*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: rgba(251, 251, 251, 1);
    font-family: 'Inter', 'sans-serif';
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgba(247, 118, 79, 0.87) rgba(248, 89, 40, 0.418);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(247, 118, 79, 0.87);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(248, 89, 40, 0.418);
    border-radius: 10px;
    border: 0px none #ffffff;
}

/*menu de navegação*/

.navbar {
    background-color: rgba(248, 89, 40, 0.87);
}

.container {
    max-width: 1360px;
    margin-inline: auto;
}

.navbar-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.1em;
    width: 100%;
}

.menu-texto {
    display: flex;
    color: white;
    justify-content: flex-end;
}

.menu-conteudo {
    display: flex;
    gap: 55px;
    margin-right: 80px;
    font-size: 25px;
}

.menu-texto:hover {
    color: rgba(236, 181, 145, 0.966);
}

.menu-imagem {
    width: 100px;    
}

/*header*/

.header-paginas {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.header-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    padding: 20px;
    color: #818181bd;
    width: 100%;
}

.titulo-header {
    font-size: 40px;
}

.paragrafo-header {
    font-size: 20px;
}

.nome-colorido {
    color: rgba(248, 89, 40, 0.87);
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.header-katherine {
    width: 70%;
    box-shadow: 3px 3px 3px rgba(248, 89, 40, 0.87);
}

/*main parte de cima*/
.main-conteudo-parte-cima {
    margin-bottom: 40px;
}

.main-conteudo-cima {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    gap: 30px;
}

.main-conteudo-cima-2 {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    gap: 30px;
}

.titulo-descricao-main {
    color: rgba(248, 89, 40, 0.87);
    font-size: 25px;
}

.texto-descricao {
    background-image: url(/assets/images/folhas.webp);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    background-color: rgba(248, 89, 40, 0.459);
    box-shadow: 2px 2px 2px rgb(255, 60, 0);
    border-radius: 10px;
    padding: 20px;
    font-size: 12px;
    text-align: initial;
}

.texto-descricao-2 {
    background-image: url(/assets/images/flores.webp);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    background-color: rgba(248, 89, 40, 0.459);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(255, 60, 0);
    padding: 20px;
    font-size: 12px;
    text-align: initial;
}

/*main parte de baixo*/

.slides-fotos-conquistas {
    max-width: 70%;
    position: relative;
    margin: auto;
}
  

.mySlides {
    display: none;
}

.slide-imagens {
    border-radius: 10px;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgba(248, 89, 40, 0.87);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  

.prev:hover, .next:hover {
    background-color: rgba(248, 89, 40, 0.24);
}
  
.text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
.numbertext {
    color: rgba(248, 89, 40, 0.87);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(248, 89, 40, 0.87);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: rgba(248, 89, 40, 0.384);
}
  

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.video {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #818181bd;
    transition: transform .1s;
}

.video:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

a .video {
    text-decoration: none;
}

a {
    color: rgba(248, 89, 40, 0.87);
}

a:hover {
  color: rgba(248, 89, 40, 0.342);
}

a:active {
  color: rgba(58, 14, 1, 0.87);
}

.referencia {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #818181bd;
}

a .referencia {
    text-decoration: none;
}

.referencia-livro {
    width: 30px;
}

a {
    color: rgba(248, 89, 40, 0.87);
}

a:hover {
  color: rgba(248, 89, 40, 0.342);
}

a:active {
  color: rgba(58, 14, 1, 0.87);
}

.voltar-inicio {
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
}

.icone-seta {
    width: 30px;
}
  
/*Inicio Footer*/
.footer-conteudo {
    background-color: rgba(248, 89, 40, 0.87);
}

.conteudo-do-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.footer-cima {
    display: flex;
    width: 100%;
}

.womarkescode {
    width: 50%;
}

.footer-meio {
    display: flex;
    width: 100%;
    padding: 10px;
}

.heart {
    width: 20px;
    animation: pulsar 1s infinite alternate;
    color: red;
}

.footer-baixo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 10px;
    padding: 10px;
}

.traco {
    color: red;
}

@keyframes pulsar {
    0% {
        transform: scale(.8);;
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 930px) {
    .main-conteudo-cima {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 1250px) {
    .header-paginas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}
